{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my portfolio</title>
    <link rel="stylesheet" href="{% static './index.css' %}" />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <h1></h1>

      <nav id="nav-menu">
        <button class="nav-close" id="nav-close" aria-label="Close menu">
          ×
        </button>
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/project">PROJECTS</a></li>
          <li><a href="/contact">CONTACT</a></li>
          <li><a href="/student">Student</a></li>
        </ul>
      </nav>

      <!-- HAMBURGER MENU ICON -->
      <button class="hamburger" id="hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
      <!-- TEXT SIDE -->
      <div class="hero-text">
        <div class="name">
          <h2>YUNUS GAFAR</h2>
          <div class="name-base">
            <h2>OLABISI</h2>
            <h3>TyTaN gRyS</h3>
          </div>
        </div>
        <p>UI/UX Designer & Frontend Developer</p>
        <span class="line"></span>
      </div>

      <!-- IMAGE SIDE -->
      <div class="hero-image">
        <img src="{% static './ptf image/hero image.png' %}" alt="profile image" />
      </div>
    </section>

    <script  src="{% static './index.js' % }"></script>
  </body>
</html>
